includes:
    - %currentWorkingDirectory%/vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - %currentWorkingDirectory%/phpstan-baseline.neon

parameters:
    level: 9

    paths:
        - %currentWorkingDirectory%/src

    ignoreErrors:
        - message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\.*$#"
          path: %currentWorkingDirectory%/tests/
          reportUnmatched: false
